* {
	font-family: 'Lato', sans-serif;
}

body {
	background-color: rgb(238, 242, 247);
}

a {
	text-decoration: none;
	color: #08041b;
}

a:hover {
	color: #08041b;
}

.article-img {
	width: 65px;
	height: 65px;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
}

.article-content {
	line-height: 1.6;
}

.profile-img {
	height: auto;
	width: 100px;
}
