{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="w-50 m-auto py-4">
  <h2 class="text-center py-4">JOIN TODAY!</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-secondary float-end">Register</button>
  </form>
  <div class="pt-3">
      <small class="text-muted">
          Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Login</a>
      </small>
  </div>
</div>
{% endblock content %}